*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{ font-family:serif; }
.cont-seccion1{padding: 60px  0;
	width: 90%; max-width: 1000px;
	margin: auto; overflow: hidden;
}
.personajes{padding: 60px  0;
	width: 90%; max-width: 1000px; margin: auto; overflow: hidden;
	background-color: #f2f2f2;

}

.titulo{
	color: #07a314;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}
.titulo-per{
	color: #07a314;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}
header{
	width: 100%;
	height: 600px;
	background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed00, #2193b000),url(../img/Esmeraldas.jpg);  
background: linear-gradient(to right, #6dd5ed00, #2193b000),url(../img/Esmeraldas.jpg); 
background-size: cover;
background-attachment: fixed;
position: relative;
}

.text-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.text-header h1{
	font-size: 50px;
	color: seagreen ;

}
.text-header h2{
	font-size: 30px;
	font-weight: 300;
	color: seagreen;
}

nav{
	text-align: right;
	padding: 30px  50px 0 0;
}
nav a {
	color: black;
	font-weight: 300;
	text-decoration: none;
	margin-right: 10px;
}
nav a:hover{
	text-decoration: underline;
}
.wave{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.cont-imagen{
	display: flex;
	justify-content: space-evenly;
}
.imagenau{
	width: 50%;
}
.cont-texto{

	width: 48%;
}
.cont-textos h3{
	margin-bottom: 15px;
	color: #07a314;
}
.cont-textos h3 span {
	background: green;
	color: #fff;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	padding: 2px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
	margin-right: 5px;
}
.cont-textos p{
	padding: 0px 0px 30px 15px;
	font-weight: 300;
	text-align: justify;
}


.galeria-per{
	display: flex;
	justify-content: center;
	flex-wrap:wrap ;
}
.imagen_per{width: 24%;

margin-bottom: 10px;
 overflow: hidden;
position: relative;
height: 300px;
cursor: pointer;
box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);


 }
.imagen_per img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.imagen_per img:hover{
	transform:scale(1.20);


}
.imagen_per p{
	color: #07a314;
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
}

 